:root {
  --bg: #000000;
  --fg: #ffffff;
  --accent: #cccccc;
  --error: red;
  --accent-bg: #222222;
  --accent-fg: #888888;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
  margin: 0;
}